#!/usr/bin/make -f

export DC=ldc2
export NOTIFICATIONS=1
export PKGCONFIG=1
export COMPLETIONS=1
export ZSHCOMPLETIONDIR=/usr/share/zsh/vendor-completions

%:
	dh $@

override_dh_auto_build:
	make
	chrpath --delete onedrive

